extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.div_articule_animation.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1.h1_animation Daniel González

        p.h1_animation.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p.description_animation
            | I’m a highly proactive and self-taught person always interested in improving my professional skills.
            | I’m constantly striving to bring my best and to become an expert in my area,
            | that’s why I’m currently learning new languages to further my contribution to my team.
            br
            | I have a degree in Administration of networked computer systems and I am currently doing the degree of FullStack JavaScript
            | to continue expanding my knowledge and to keep me updated on the new emerging technologies.
            br
            br
            | I had the opportunity to participate in the ERAMUS + program and do my business practices in Italy,
            | where he was responsible for activities such as:
            | database administration, use of Microsoft Office for organizational work (Excel, Word, Power Point),
            | profitability analysis and teamwork.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li WordPress
          li Node
          li Express
          li Git
          li HTML
          li CSS
          li JavaScript
          li PHP
          li MySQL
        h6 Contact Info

        ul
          li 555-555-1234
          li gnzlzdaniel.task@gmail.com

        a.button_animation.button.expanded(target='_blank', href='https://www.linkedin.com/in/daniel-gonz%C3%A1lez-gonz%C3%A1lez-web-design/') LinkedIn
        a.button_animation_next.button.expanded(target='_blank', href='https://github.com/danielglez4234') GitHub
        a.button_animation_next2.button.expanded(target='_blank', href='https://www.instagram.com/daniel.gnzlz_g/?hl=es') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
