
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: Comfortaa-VariableFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #d0c6c6;
  font-family: Comfortaa-SemiBold;
}.text-light-anomation{
    animation: descrip_appear2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

.button{
  background-color: #333;
  transition: letter-spacing 0.3s;
}
.button:hover{
  transition: letter-spacing 0.3s;
  letter-spacing: 3px;
}

a{
  color: #fff;
}

a:hover{
  color: #aed0d0;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
                background: #24262d;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #e3d9d9;
  }

  .portfolio-me a{
    font-family: Comfortaa-Bold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
                background-color: #0d2230;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: Comfortaa-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   font-weight: bold;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
    }.shadow-border-none{
      border: none !important;
      box-shadow: 0px 0px 13px 11px #0b0c10;
    }

    #logo{
      background-color: #fff;
      border-radius: 4px;
    }


  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
    animation: index_appear_bottom;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: -5px;
    margin-top: 16px;

    font-family: Comfortaa-Bold;
  }

.portfolio-project p{
  border: none;

  font-family: Comfortaa-SemiBold;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;

  font-family: Comfortaa-SemiBold;
}

.portfolio-bio{
    line-height: 25px;
}
.portfolio-bio p{
    font-family: Comfortaa-Bold;
}

/*-------------------------------------CHANGES-I-MADE----------------------------------------*/


/*---------------INDEX-----------*/
.article_backg_index{
  background-color: #24262d;
  margin-bottom: 30px;
  color: #fff;
}

.h1_index_animation{
  font-family: Comfortaa-VariableFont;
  animation: index_h1_appear_right;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

  @keyframes index_appear_bottom {
    from {margin-top: 100px; opacity:0;}
    to {margin-top: 0px; opacity:1;}
  }
  @keyframes index_h1_appear_right {
    from {margin-left: 150px; opacity:0;}
    to {margin-left: 0px; opacity:1;}
  }


/*-----------PROJECTS-AND-ABOUT--------*/

.div_articule_animation{
  animation: article_appear_bottom;
  animation-duration: 0.55s;
  animation-fill-mode: forwards;
}
    @keyframes article_appear_bottom {
      from {margin-top: 100px; opacity:0;}
      to {margin-top: 0px; opacity:1;}
    }

.h1_animation{
  animation: h1_appear_right;
  animation-delay: 0.7s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  color: white;

  font-family: Comfortaa-Bold;
}
    @keyframes h1_appear_right {
      from {margin-left: 50px; color:white;}
      to {margin-left: 0px; color:black;}
    }

.description_animation{
  animation: descrip_appear;
  animation-delay: 0.4s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  color: white;
}
    @keyframes descrip_appear {
      from {color:white;}
      to {color:#333;}
    }@keyframes descrip_appear2 {
      from {opacity:0;}
      to {opacity:1;}
    }

.image_animation{
  animation: image_appear;
  animation-delay: 0.3s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
    @keyframes image_appear {
      from {margin-top: 100px; opacity:0;}
      to {margin-top: 0px; opacity:1;}
    }

.button_animation{
  animation: button_appear;
  animation-delay: 0.95s;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  background-color: white;
}
    @keyframes button_appear {
      from {margin-left: 50px; background-color: white;}
      to {margin-left: 0px; background-color: #0f5a66;}
    }
.button_animation_next{
  animation: button_appear_next;
  animation-delay: 1.05s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  background-color: white;
}
    @keyframes button_appear_next {
      from {margin-left: 50px; background-color: white;}
      to {margin-left: 0px; background-color: #0f9d6f;}
    }
.button_animation_next2{
  animation: button_appear_next2;
  animation-delay: 1.20s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  background-color: white;
}
    @keyframes button_appear_next2 {
      from {margin-left: 50px; background-color: white;}
      to {margin-left: 0px; background-color: #ba2a2a;}
    }

/*--------------------------------ERROR message----------------------------------------------*/
#error_message{
  font-size: 80px;
  color: #d65562;
}

/*------------------FONTS-----------------------------------------------------*/
@font-face {
  font-family: Comfortaa-VariableFont;
  src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}
@font-face {
  font-family: Comfortaa-Bold;
  src: url('../fonts/Comfortaa/static/Comfortaa-Bold.ttf');
}
@font-face {
  font-family: Comfortaa-Light;
  src: url('../fonts/Comfortaa/static/Comfortaa-Light.ttf');
}
@font-face {
  font-family: Comfortaa-SemiBold;
  src: url('../fonts/Comfortaa/static/Comfortaa-SemiBold.ttf');
}
/*------------------END FONTS-------------------------------------------------*/
