
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
  transition: letter-spacing 0.3s;
}
.button:hover{
  transition: letter-spacing 0.3s;
  letter-spacing: 3px;
}

a{
  color: #fff;
}

a:hover{
  color: #aed0d0;
}

.image{
  display: inline-block;
  max-width: 97%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
                                                background: #1c1e19;
  /* background-image: linear-gradient(to top, #1d90a1, #24818f, #28727e, #2a646d, #2a565d, #284a54, #273e48, #25323c, #23262e, #1d1b20, #131012, #000000); */
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #e3d9d9;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
                                                background-color: #0d2230;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   font-weight: bold;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
                                        display: inline-block;
                                        vertical-align: top;
                                        margin-right: 1rem;
                                        width: 450px;
  }

                                        .portfolio-index .cell img{
                                          height: 350px;
                                          width: 450px;
                                        }
    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: -5px;
    margin-top: 16px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}

/*---------------------------------ANIMATIONS-------------------------------------------------*/


/*-------INDEX------*/
.article_backg_index{
  background-color: #1c1e19;
  margin-bottom: 30px;
  color: #fff;
}

.cell_animation{
  animation: index_appear_bottom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
  @keyframes index_appear_bottom {
    from {margin-top: 100px; opacity:0;}
    to {margin-top: 0px; opacity:1;}
  }

.h1_index_animation{
  font-family: Comfortaa;
  display: inline-block;
  animation: index_h1_appear_right;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
  @keyframes index_h1_appear_right {
    from {margin-left: 150px; opacity:0;}
    to {margin-left: 0px; opacity:1;}
  }


/*------PROJECTS-AND-ABOUT------*/

.div_articule_animation{
  animation: article_appear_bottom;
  animation-duration: 0.55s;
  animation-fill-mode: forwards;
}
    @keyframes article_appear_bottom {
      from {margin-top: 100px; opacity:0;}
      to {margin-top: 0px; opacity:1;}
    }

.h1_animation{
  animation: h1_appear_right;
  animation-delay: 0.7s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  color: white;
}
    @keyframes h1_appear_right {
      from {margin-left: 50px; color:white;}
      to {margin-left: 0px; color:black;}
    }

.description_animation{
  animation: descrip_appear;
  animation-delay: 0.4s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  color: white;
}
    @keyframes descrip_appear {
      from {color:white;}
      to {color:#333;}
    }

.image_animation{
  animation: image_appear;
  animation-delay: 0.3s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
    @keyframes image_appear {
      from {margin-top: 100px; opacity:0;}
      to {margin-top: 0px; opacity:1;}
    }

.button_animation{
  animation: button_appear;
  animation-delay: 0.95s;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  background-color: white;
}
    @keyframes button_appear {
      from {margin-left: 50px; background-color: white;}
      to {margin-left: 0px; background-color: #0f5a66;}
    }
.button_animation_next{
  animation: button_appear_next;
  animation-delay: 1.05s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  background-color: white;
}
    @keyframes button_appear_next {
      from {margin-left: 50px; background-color: white;}
      to {margin-left: 0px; background-color: #0f9d6f;}
    }
.button_animation_next2{
  animation: button_appear_next2;
  animation-delay: 1.20s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  background-color: white;
}
    @keyframes button_appear_next2 {
      from {margin-left: 50px; background-color: white;}
      to {margin-left: 0px; background-color: #2aa6ba;}
    }

/*--------------------------------ERROR message----------------------------------------------*/
#error_message{
  font-size: 80px;
  color: #d65562;
}

/*------------------FONTS-----------------------------------------------------*/
@font-face {
  font-family: Comfortaa;
  src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}
@font-face {
  font-family: Merienda;
  src: url('../fonts/Merienda/Merienda-Regular.ttf');
}
@font-face {
  font-family: Pacifico;
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}
/*------------------END FONTS-------------------------------------------------*/
